@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import 'swiper/swiper-bundle.css';
*{
  margin: 0;
  padding: 0;
  right: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
 
} 
@media (max-width:1000px) {
  html,body{
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
    width: 100%;
  }
  
}
/* --------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* nav */


.nav{

  display: flex;
  padding: 10px 0 10px 0px;
  line-height: 2rem;
 
}
.nav-logo{

  width: 5vw;
}
.nav img{
  height: 60px;
  width:80px;
}

.nav-text{
    
  margin-top: 0vw;
  margin-left:37vw;
 padding:0px ;
 
}
.nav-text span{

  
  padding: 6px;
  display: flex;
  font-size: 22px;
}
.nav-button{
    float: right;
  position: absolute;
right:0px;

}
.nav-button span{
  font-size:28px;
  cursor: pointer;
  line-height: 1rem;
}
span{

  cursor:pointer;
  font-size: 22px;
  display: flex;
  color: #000000;
  margin-top: 25px;
  padding: 10px;
  ;
  
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #121212;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #000000;
  text-decoration:underline;
 
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
  .overlay a:hover, .overlay a:focus {
    color: #000000;
    text-decoration: underline;
    
  }
  
}

  
@media(max-width:450px){
  .nav{
    height: 80px;
  }
  .nav-logo{

    margin-top: 0px;
    background-color: red;
    width: 0px;
    
  }
  .nav-logo img{
    height: 15vw;
    width: 18vw;
  }
  .nav-text{
    
    margin-top: 0vw;
    margin-left:24vw;
   padding:0px ;
   
  }
  .nav-text span{

    
    padding: 6px;
    display: flex;
    font-size: 22px;
  }
  .nav-button{
    
    padding-left: 10px;
    line-height: 0.5rem;;
  }
  .overlay-content{
    top: 70px;
  }
  .overlay a:hover, .overlay a:focus {
    color: #0c0c0c;
    text-decoration: underline;
  }

}
/* swiper */

.swiper {
  width: 100%;
  height: 40vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
} */


.swiper-button-prev,
.swiper-button-next {
  color: #fbfbfb !important;
}
:root{
  --swiper-theme-color: #f7f7f9 !important;
}


@media (max-width: 1000px){
  .swiper {
    width: 100%;
    height: 80vw;
  
  }
}

/* about us */
h1{
 text-align: center;
 font-size: 30px;
}
.about{
  display: flex;
  gap: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
 
 
}
.about_img{
  padding: 10px;
  width:50vw;
}
img{
  width:100%;
  
}
.about_us{
  padding: 100px;
  width:50vw;

  text-align:justify;
}
@media (max-width: 1000px){
  .about{
      display: block;
      
  }
  .about_us{
   
    width: 100%;
    text-align: justify;
    overflow: hidden;
    padding: 10px;
  }
  .about_img{
    width: 100vw;
  

  }
}
/* services */
.services {
  padding: 25px;
  margin-bottom: 5%;
  display: flex;
  gap:80px;
}

.box {
  flex: 1;
  height: 100px;   /* Adjust the height as needed */
  background-color: #ccc;   /* Adjust the background color as needed */
  margin: 5px;   /* Adjust the margin as needed */
  
}
.services img{
  width: 20vw;
  height: 200px;
}

a{
    text-decoration:none;
  color: #000;
 
}

@media (max-width: 1000px){
  .services{
      display: block;
      padding: 0px;
      
  }
  .services img{
    width: 100vw;
  }

}

/* office */
.office{
  display: flex;
  color: rgb(3, 3, 3);
  background-color: rgb(255, 255, 255);
  
 
}
.office h1,h2{
  color: #050505;
  font-size: 34px;
}
.office h2{
    color: #050505;
    font-size: 34px;
    padding: 30px;
  }
.maps {
  height: 400px;
  padding: 30px;
 

}
.office_info{
  color:#000000;
  width:50vw;
  padding: 200px;
}
@media (max-width: 1000px){
  .office{

    display:block;
   

}
  .maps{
    padding: 20px;
    display: contents;
    width:100vw;
    background-color: aliceblue;   
  }
  iframe{
    width: 100vw;
    
    
  }
  .office_info{
    display: block;
    text-align: center;
    width:100vw;
    padding: 2px;
   
    
    
  }
}


/* contact */
.contact{
height: 40vw;
}
input[type=text], select {
  width: 50vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #000000;
  color: white;
  width: 50vw;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049 !important;
}

.contact-content textarea{
    resize: none;
    width: 50vw;
    height: 150px;
}



.contact-content {
    display: inline-table;
  width: 20%;
  padding: 20px;
  border-radius: 5px;
  background-color: #fcfcfc;
  margin-left: 25%;


}
.contact-content span{
  color: red;
  font-size:12px;
margin:-10px;
}
@media (max-width: 1000px){
    input[type=text], select {
        width: 96vw;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
    .contact-content{
        width: 100%;
        padding: 0;
        margin: 2%;
    }
    .contact-content span{
      color: red;
      font-size:12px;
    margin:-10px;
    }
    .contact-content textarea{
        resize: none;
        width: 96vw;
        height: 150px;
        border: 1px solid #ccc;
    }
    input[type=submit] {
      background-color: #000000;
      width: 96vw;
      color: white;
      padding: 12px 20px;
      cursor: pointer;
      border-radius: 4px;
    
    }
    
    input[type=submit]:hover {
      background-color: #45a049 !important;
    }
    
    }
 

/* archiecture */




/* booking */
.booking{
  
  display: flex;
  height: 60vw;
}
.booking-info{
 
    width: 50vw;
    text-align: justify;
    padding: 60px;
   
}
.booking-info p{

 margin: 60px;
  padding: 60px;
  font-size: 22px;

    
}


.booking input[type=text], [type=date],[type=time],select {
  width: 30vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


.booking input[type=submit] {
  background-color: #000;
  color: white;
  width: 30vw;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:  #45a049 !important;
 
 
}

.booking-content textarea{
    resize: none;
    width: 30vw;
    height: 150px;
}



.booking-content {
  display: inline-table;
  height: 30vw;
  width: 10%;
  padding: 80px;
  border-radius: 5px;
  background-color: #ffffff;
  margin:0%;


}
.booking-content span{
  color: red;
  font-size:12px;
margin:-10px;
}
@media (max-width: 1000px){
  .booking{
    display: block;
    padding: 0px;
    background-color: rgb(255, 255, 255);
   
  }
  .booking-content span{
    color: red;
    font-size:12px;
  margin:-10px;
  }
  .booking-info{
    
    width: 100%;
    padding: 0px;
   
   
  }
  .booking-info p{
    text-align:justify;
    font-size: 18px;
  padding: 0px;
 
   
  }
   .booking-form{
      direction:flex;
      width: 100vw;
      
      padding:6px;
   }
   .booking input[type=text],[type=date],[type=time], select {
    background-color: #fcfcfc;
    height: 2.5rem;
        
        width: 94vw;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
    .booking-content{
        width: 100%;
        padding: 0px;
        margin: 0px;
        
    }
    .booking-content textarea{
        resize: none;
        width: 94vw;
        height: 150px;
        border: 1px solid #ccc;
    }
      
.booking input[type=submit] {
  background-color: #000;
  color: white;
  width: 94vw;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:  #45a049 !important;
  color: rgb(255, 255, 255);
  
}
    }
 


/* footer */

.footer p{
 
  text-align: center;
  max-width: 100%;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}
.footer-content{
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-content img{
  height: 600px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
   font-size: 2rem;
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
    height: 20px;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media(max-width:1000px){
 
  .footer-content img{
    height: 300px;
    object-fit: cover;
  }

  
}
 /* Interior Designing */
 .projects{

  overflow: hidden;
  display: flex;
 position:relative;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  padding: 40px;



} 
.projects img{
  width: 30vw;
  height: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

} 

.projects p{
  text-align: center;
  font-size: 16px;
}

.projects img:hover {
  cursor: pointer;
  transform: scale(1.05);
}


.projects:hover .projects_overlay {
  opacity: 1;
}


@media(max-width:1000px){
 
.projects{
 
  display: grid;
  width: 100%;
  margin: 0px;
  position: relative;
  gap:20px;
  padding: 10px;
  
}
.projects img{
  display: block;
  width: 100%;
  height: auto;


} 



}

/* Project Gallery */

.display{
  
padding: 20px;
display: flex;
flex-wrap: wrap;
width: 100%;
overflow-y: auto;
gap:20px;
text-align: center;
font-size: 18px;

} 

.display img{
height: auto;

}

.display_heading p{
  
  text-align: center;
 
}

  

