@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper {
    width: 100%;
    height: 40vw;
    margin:2rem;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* .swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  } */
  
  
  .swiper-button-prev,
  .swiper-button-next {
    color: #fbfbfb !important;
  }
  
  :root {
    --swiper-theme-color: #f7f7f9 !important;
  }
/* CSS for responsive iframes */
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  @media(max-width:768px){
    .swiper {
      width: 100%;
      height: 70vw;
  
    }
      
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  }